@import 'styles/variables';

.ItemCard {
  background-color: $color-bg-secondary;
  height: 200px;
  display: flex;
  align-items: flex-start;
  padding: 20px 50px 20px 0;
  color: $color-black;

  &-image {
    padding: 0 24px;

    img {
      height: 200px;
      width: 200px;
      align-self: center;
    }
  }

  &-content {
    width: calc(100% - 200px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &-item {
      padding-bottom: 1rem;
    }

    &-price {
      font-size: 2rem;
    }

    &-title {
      font-weight: normal;
      text-align: start;
      font-size: 1.25rem;
      margin: 0;
    }
  }
}
