@import 'styles/variables';

.SearchResults {
  &-breadcrumbs {
    font-size: 0.85rem;
    margin: 0.5rem 0;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      &:not(:last-child) {
        border-bottom: thin solid $color-border-thin;
      }
    }
  }

  &-noresults {
    color: $color-black;
  }
}
