.Nav {
  nav {
    height: 100%;
  }

  &-list {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    &-item {
      text-decoration: none;
      padding: 0 10px;
    }
  }

  &-indentation {
    width: 20vw;
  }

  &-logo {
    width: 3rem;
    height: 32px;
  }

  &-searchbar {
    width: 50vw;
  }
}
