/* Primary color palette */

$color-bg-main: #ebebeb;
$color-bg-secondary: white;
$color-bg-tertiary: darkgoldenrod;
$color-accent: #fff159;

$color-text-main: white;
$color-text-secondary: #8e8e8e;
$color-text-link: #61dafb;

$color-border-main: black;
$color-border-grey: rgba(0, 0, 0, 0.2);
$color-border-thin: #eee;

$color-button-primary: #3483fa;

$color-black: black;
$color-white: white;
