@import 'styles/variables';

.active-route {
  border-bottom: 1px solid var(--accent-color);
}

.Landing {
  width: 100vw;
  min-height: 100vh;
  background-color: $color-bg-main;
  padding-bottom: 10vh;

  &-sections {
    width: 57vw;
    margin: auto;
  }
}

.Header {
  height: 5vh;
}

.Nav {
  height: 100%;
}
