@import 'styles/variables';

.Searchbar {
  &-form {
    display: flex;
    height: 100%;
    position: relative;

    &-input {
      width: 95%;
      padding: 7px 60px 7px 15px;
      border: 1px solid $color-border-grey;
      outline: none;
    }
    
    &-btn {
      position: absolute;
      top: 1px;
      right: 1px;
      height: 91%;
      width: 35px;
      background-color: gainsboro;
      border: none;
      border-left: none;
    }
  }
}
