/* Primary color palette */

$color-bg-main: #282c34;
$color-bg-secondary: cadetblue;
$color-bg-tertiary: darkgoldenrod;
$color-accent: orange;
$color-text-main: white;
$color-text-link: #61dafb;
$color-border-main: black;
