@import 'styles/variables';

.Breadcrumbs {
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $color-text-secondary;

    &-item {
      margin: 0 0.5rem;

      &--name {
        padding-right: 1rem;
      }
    }
  }
}